﻿
<h2>Buscador de bromas</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResultadoDeBusqueda">

            <div class="form-group">
                <label for="PalabraBuscada" class="control-label"></label>
                <input name="PalabraBuscada" class="form-control" placeholder="Ingresar palabras de la broma" />
            </div>
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Ver todos los chistes</a>
</div>
