﻿@model JokesApp.Models.Joke

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de la broma</h1>

<div>
    <h4>Chiste</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Pregunta
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jokeQuestion)
        </dd>
        <dt class="col-sm-2">
            <!--Html.DisplayNameFor(model => model.jokeAnswer) display name es texto, Displayfor muestra el string del modelo-->
            Respuesta
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jokeAnswer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Editar chiste</a> |
    <a asp-action="Index">Volver atras</a>
</div>
