﻿@model IEnumerable<JokesApp.Models.Joke>

@{
    ViewData["Title"] = "Index";
}

<h1>Ingreso de bromas 😁</h1>

<p>
    <a asp-action="Create">Ingresar nueva broma ✏</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Pregunta
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.jokeQuestion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Editar broma</a> |
                <a asp-action="Details" asp-route-id="@item.id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
