﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la mejor pagina de chistes malos</h1>
    <p>Crea, modifica y elimina chistes! 🤡</p>

   
</div>
